flask
flask-sqlalchemy
flask-login
pandas
scikit-learn
pickle-mixin
matplotlib
seaborn
numpy
gunicorn
joblib
reportlab
fpdf2
flask-sqlalchemy
flask-login
flask-mail
python-dotenv
pandas
scikit-learn
gunicorn
